@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

table {
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid #333;
  padding: 6px;
}

body {
  font-family: 'Poppins', sans-serif;
  max-width: 70vw;
}
